@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
:root {
  --ff-main: "Titillium Web", sans-serif;
  --hue: 192;
  --clr-bg-1: hsl(var(--hue) 44% 35% / 0.8);
  --clr-bg-2: hsl(var(--hue) 44% 24% / 1);
  --clr-bg-3: hsl(var(--hue) 44% 18% / 1);
  --clr-bg-gradient: linear-gradient(
     to bottom,
     var(--clr-bg-1) 0%,
     var(--clr-bg-2) 40%,
     var(--clr-bg-3) 80%
  );
  --clr-bg-dark-1: hsl(var(--hue) 5% 10% / 1);
  --clr-bg-dark-2: hsl(var(--hue) 5% 5% / 1);
  --clr-main-1: hsl(var(--hue) 5% 90% / 1);
  --clr-main-2: hsl(var(--hue) 5% 80% / 1);
  --clr-dark-fade: hsl(var(--hue) 20% 10% / 0.5);
  --clr-light-fade: hsl(var(--hue) 20% 10% / 0.3);
  --clr-dark: hsl(var(--hue) 10% 10% / 1);
  --clr-error: hsl(10 90% 35% / 1);
  --btn-size: 3rem;
  --icon-size: 1rem;
  --soft-border: 1px solid hsl(var(--hue) 5% 95% / 0.3);
  --hard-border: 2px solid var(--clr-main-2);
}

@keyframes entry {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--clr-main-1);
  font-family: var(--ff-main);
  font-weight: 400;
  background: linear-gradient(136deg, var(--clr-bg-dark-1) 0%, var(--clr-bg-dark-2) 100%);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--clr-main-2);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark-fade);
  border-radius: 100vmin;
}

.container {
  background: var(--clr-bg-gradient);
  max-width: 50rem;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  align-items: stretch;
  gap: 2rem;
}
@media only screen and (min-width: 800px) {
  .container {
    margin: 3rem auto;
    border-radius: 20px;
  }
}

.bg-clouds {
  background: var(--clr-bg-gradient), url("../imgs/bg/clouds.jpg") no-repeat;
  background-size: cover;
}

.bg-rain {
  background: var(--clr-bg-gradient), url("../imgs/bg/rain.jpg") no-repeat;
  background-size: cover;
}

.bg-night {
  background: var(--clr-bg-gradient), url("../imgs/bg/night.jpg") no-repeat;
  background-size: cover;
}

.btn {
  width: var(--btn-size);
  height: var(--btn-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-main-2);
  border-radius: 50%;
  outline: none;
  background: transparent;
  flex-shrink: 0;
  transform: scale(1);
  transition: transform 0.1s;
}
.btn__icon {
  font-size: var(--icon-size);
  color: var(--clr-main-2);
  transition: transform 0.1s;
}
.btn:hover, .btn:focus, .btn:hover .btn__icon, .btn:focus .btn__icon {
  border-color: var(--clr-main-1);
  color: var(--clr-main-1);
  transform: scale(1.1);
}
.btn--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.search {
  width: 100%;
  position: relative;
}
.search__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1.25rem;
  position: relative;
  margin: 1rem 2rem 0;
}
.search__input {
  border: 1px solid var(--clr-main-1);
  background: var(--clr-light-fade);
  border-radius: 100vmin;
  padding: 0 calc(var(--btn-size) / 2);
  outline: none;
  height: var(--btn-size);
  color: var(--clr-main-1);
  font-size: 1.25rem;
  font-weight: 400;
  flex: 1;
  width: 10rem;
  transition: background 0.2s;
}
.search__input:focus {
  background: var(--clr-dark-fade);
}
.search__input::-webkit-input-placeholder {
  color: var(--clr-main-2);
  opacity: 0.6;
  font-size: 0.8rem;
}

.current-weather {
  width: 100%;
  height: 23rem;
}
.current-weather .current-weather__panel {
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: entry 0.6s ease;
}
.current-weather__location {
  font-size: 1.5rem;
  font-weight: 400;
}
.current-weather__date {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2rem;
}
.current-weather__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content repeat(2, 1fr);
  column-gap: 1rem;
}
.current-weather__temp {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  font-size: 7rem;
  font-weight: 700;
}
.current-weather__icon {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.current-weather__icon img {
  width: 10rem;
  height: 10rem;
  max-width: 100%;
}
.current-weather__description {
  grid-column: 1/-1;
  grid-row: 2/span 1;
  font-size: 1.75rem;
  font-weight: 300;
}
.current-weather__min-max {
  grid-column: 1/-1;
  grid-row: 3/span 1;
  font-size: 1.25rem;
}
.current-weather__min-max .max {
  font-weight: 400;
}
.current-weather__min-max .min {
  font-weight: 200;
}

.navbar {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--clr-dark-fade);
  position: relative;
  border-top: var(--hard-border);
  border-bottom: var(--hard-border);
}
.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
}
.navbar__item:last-child {
  --track-height: calc(2 * var(--btn-size));
  --track-width: var(--btn-size);
  --thumb-offset: 16px;
  --thumb-size: calc(var(--track-width) - var(--thumb-offset));
  --transition-time: 0.4s;
  position: absolute;
  top: calc(-1 * var(--track-height) - 1rem);
  right: 0;
}
.navbar__units {
  position: relative;
  display: inline-block;
  width: var(--track-width);
  height: var(--track-height);
  cursor: pointer;
}
.navbar__units input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.navbar__units .slider {
  position: absolute;
  inset: 0;
  transition: 0.4s;
  background-color: var(--clr-dark-fade);
  border-top: var(--hard-border);
  border-left: var(--hard-border);
  border-bottom: var(--hard-border);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.navbar__units .slider:before {
  position: absolute;
  content: "";
  width: var(--thumb-size);
  height: var(--thumb-size);
  left: calc(var(--thumb-offset) / 2);
  bottom: calc(var(--thumb-offset) / 2);
  background-color: var(--clr-main-2);
  border-radius: 50%;
  transition: transform var(--transition-time), background-color var(--transition-time);
}
.navbar__units input[type=checkbox]:focus + .slider::before,
.navbar__units input[type=checkbox]:hover + .slider::before {
  background-color: var(--clr-main-1);
}
.navbar__units input[type=checkbox]:checked + .slider:before {
  transform: translateY(calc(-1 * var(--track-height) / 2));
}
.navbar__units .c,
.navbar__units .f {
  user-select: none;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  left: calc(var(--thumb-offset) / 2 + 2px);
  transition: color vaR(--transition-time);
  width: var(--thumb-size);
  height: var(--thumb-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar__units .c {
  color: var(--clr-dark);
  bottom: calc(var(--thumb-offset) / 2 + 2px);
}
.navbar__units .f {
  color: var(--clr-main-2);
  top: calc(var(--thumb-offset) / 2 - 2px);
}
.navbar__units input[type=checkbox]:checked ~ .c {
  color: var(--clr-main-2);
}
.navbar__units input[type=checkbox]:checked ~ .f {
  color: var(--clr-dark);
}

.hourly {
  width: 100%;
  --gap: 1.25rem;
}
.hourly ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.hourly ::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 var(--gap);
}
.hourly ::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark-fade);
  border-radius: 100vmin;
}
.hourly .hourly__panel {
  text-align: center;
  animation: entry 0.6s ease;
}
.hourly__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: start;
  list-style: none;
  gap: var(--gap);
  overflow-x: auto;
  overscroll-behavior-x: contain;
  padding-bottom: 1.25rem;
}
.hourly__item {
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hourly__item:first-child {
  margin-left: var(--gap);
}
.hourly__item:last-child {
  margin-right: var(--gap);
}
.hourly__time {
  font-size: 1rem;
  font-weight: 200;
}
.hourly__icon img {
  width: 3.5rem;
  height: 3.5rem;
  max-width: 100%;
}
.hourly__temp {
  font-size: 1.25rem;
  font-weight: 200;
}

.daily {
  width: 100%;
}
.daily__panel {
  padding: 0 1rem;
  animation: entry 0.6s ease;
}
.daily__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: stretch;
}
.daily__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: var(--soft-border);
  padding: 1rem 0;
}
.daily__item:last-child {
  border: none;
}
.daily__time {
  font-size: 1.25rem;
  width: 10ch;
}
.daily__icon img {
  width: 4rem;
  height: 4rem;
  max-width: 100%;
}
.daily__min-max {
  font-size: 1.25rem;
  width: 9ch;
  text-align: right;
}
.daily__min-max .max {
  font-weight: 400;
}
.daily__min-max .min {
  font-weight: 200;
}

.wind:empty {
  display: none;
}
.wind__panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem 6rem;
  justify-items: center;
  align-items: center;
  border-top: var(--soft-border);
  margin: 0 1rem;
  animation: entry 0.6s ease;
}
.wind__title {
  font-size: 1.5rem;
  font-weight: 300;
  grid-row: 1/1;
  grid-column: 1/-1;
  justify-self: start;
}
.wind__icon img {
  width: 6rem;
  height: 6rem;
}
.wind__arrow {
  font-size: 5rem;
}
.wind__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
.wind__text {
  font-size: 1.15rem;
}
.wind__text .name {
  font-weight: 300;
  width: 16ch;
  text-transform: capitalize;
}
.wind__text .value {
  font-weight: 200;
  margin-left: 1rem;
}

.comfort-level__panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem 10rem;
  justify-items: center;
  align-items: center;
  border-top: var(--soft-border);
  margin: 0 1rem;
  animation: entry 0.6s ease;
}
.comfort-level__title {
  font-size: 1.5rem;
  font-weight: 300;
  grid-row: 1/1;
  grid-column: 1/-1;
  justify-self: start;
}
.comfort-level__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  grid-row: 2/span 1;
  grid-column: 3/span 1;
}
.comfort-level__text {
  font-size: 1.15rem;
}
.comfort-level__text .name {
  font-weight: 300;
  width: 16ch;
  text-transform: capitalize;
}
.comfort-level__text .value {
  font-weight: 200;
  margin-left: 1rem;
}
.comfort-level__humidity {
  grid-row: 2/span 1;
  grid-column: 1/span 2;
  height: 10rem;
  width: 10rem;
  position: relative;
}
.comfort-level__humidity .comfort-level__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comfort-level__humidity .comfort-level__text span {
  font-size: 1.25rem;
  margin-left: 0;
  width: max-content;
}

.status {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
}
.status__error {
  background: var(--clr-error);
  color: var(--clr-main-1);
  font-weight: 300;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 100vmin;
  padding: 0.25em 1em;
}
.status__icon img {
  width: 1.5rem;
  height: 1.5rem;
  max-width: 100%;
  animation: rotation 0.5s alternate infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

/*# sourceMappingURL=style.css.map */
