*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   font-family: system-ui, sans-serif;
   background: steelblue;
   padding: 1.5rem 2rem;
}

.container {
   max-width: 10rem;
}

.btn {
   border: 2px solid white;
   width: 2.75rem;
   aspect-ratio: 1;
   border-radius: 50%;
   outline: none;
   background: transparent;

   &:hover,
   &:focus {
      border-color: cyan;
   }

   &__icon {
      color: white;
   }
}
