*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;

   color: var(--clr-main-1);
   font-family: var(--ff-main);
   font-weight: 400;
   background: linear-gradient(
      136deg,
      var(--clr-bg-dark-1) 0%,
      var(--clr-bg-dark-2) 100%
   );
}

::-webkit-scrollbar {
   width: 10px;

   &-track {
      background: var(--clr-main-2);
   }

   &-thumb {
      background-color: var(--clr-dark-fade);
      border-radius: 100vmin;
   }
}

@supports (scrollbar-color: white white) {
   * {
      scrollbar-width: thin;
      scrollbar-color: var(--clr-dark-fade) var(--clr-main-2);
   }
}

.container {
   background: var(--clr-bg-gradient);
   max-width: 50rem;
   min-height: 100vh;
   margin: 0 auto;
   padding-bottom: 2rem;
   @include flexCenter(column);
   justify-content: start;
   align-items: stretch;
   gap: 2rem;
   overflow: hidden;

   @include mq($bp-xs) {
      margin: 3rem auto;
      border-radius: 20px;
   }
}
