*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   color: var(--clr-light-1);
   font-family: var(--ff-main);
   font-weight: var(--fw-m);
   background: linear-gradient(
      135deg,
      var(--clr-bg-dark-1) 0%,
      var(--clr-bg-dark-2) 100%
   );
}

::-webkit-scrollbar {
   width: 10px;

   &-track {
      background: var(--clr-light-2);
   }

   &-thumb {
      background-color: var(--clr-fade-dark);
      border-radius: 100vmin;
   }
}

@supports (scrollbar-color: white white) {
   * {
      scrollbar-width: thin;
      scrollbar-color: var(--clr-fade-dark) var(--clr-light-2);
   }
}

@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto;
   }
}

img {
   max-width: 100%;
   display: block;
   user-select: none;
}

.container {
   background: var(--clr-bg-container);
   max-width: 50rem;
   min-height: 100vh;
   margin: 0 auto;
   padding-bottom: 2rem;
   @include flexCenter(column);
   justify-content: start;
   align-items: stretch;
   gap: 2rem;
   overflow: hidden;
   position: relative;

   @include mq($bp-xs) {
      margin: 3rem auto;
      border-radius: 20px;
   }
}
