.btn {
   @include boxSize(var(--btn-size));
   @include flexCenter;
   border: 1px solid var(--clr-main-2);
   border-radius: 50%;
   outline: none;
   background: transparent;
   flex-shrink: 0;
   transform: scale(1);

   transition: transform 0.1s;

   &__icon {
      font-size: var(--icon-size);
      color: var(--clr-main-2);
      transition: transform 0.1s;
   }

   &:hover,
   &:focus,
   &:hover &__icon,
   &:focus &__icon {
      border-color: var(--clr-main-1);
      color: var(--clr-main-1);
      transform: scale(1.1);
   }

   &--disabled {
      pointer-events: none;
      opacity: 0.5;
   }
}

.hidden {
   display: none;
}
