.comfort-level {
   @include margin(bottom, small);
   &__panel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 3rem 6rem;
      justify-items: center;
      align-items: center;
   }

   &__title {
      font-size: 1.5rem;
      font-weight: 300;
      grid-row: 1 / 1;
      grid-column: 1 / -1;
      justify-self: start;
   }

   &__description {
      @include flexCenter(column);
      align-items: start;
      gap: 0.5rem;
   }

   &__text {
      font-size: 1.15rem;
      .name {
         font-weight: 300;
         width: 16ch;
         text-transform: capitalize;
      }

      .value {
         font-weight: 200;
         margin-left: 1rem;
      }
   }
}
