.btn {
   --transition-time: 0.2s;
   @include boxSize(var(--btn-size));
   @include flexCenter;
   border: 1px solid var(--clr-main-2);
   color: var(--clr-main-2);
   border-radius: 50%;
   outline: none;
   background: transparent;
   flex-shrink: 0;
   transform: scale(1);
   transition: all var(--transition-time);

   &__icon {
      font-size: var(--icon-size);
      color: inherit;
   }

   &:hover,
   &:focus {
      border-color: var(--clr-main-1);
      color: var(--clr-main-1);
      transform: scale(1.1);
   }

   @supports selector(:focus-visible) {
      &:focus {
         border-color: var(--clr-main-2);
         color: var(--clr-main-2);
         transform: scale(1);
      }

      &:hover {
         border-color: var(--clr-main-1);
         color: var(--clr-main-1);
         transform: scale(1.1);
      }

      &:focus-visible {
         border-color: var(--clr-main-1);
         color: var(--clr-main-1);
         transform: scale(1.1);
         outline: var(--soft-border);
         outline-offset: 0.4em;
      }

      &--disabled:focus-visible {
         outline: none;
         transform: scale(1);
         color: var(--clr-main-2);
         border-color: var(--clr-main-2);
      }
   }

   &:active {
      transform: scale(1.1) translateY(3px);
   }

   &--disabled {
      pointer-events: none;
      opacity: 0.5;
   }
}

.panel {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   gap: 0.5rem 1rem;
   @include border(var(--soft-border), top);
   @include entryAnimation;
   @include margin(left, small);
   @include margin(right, small);

   &__title {
      font-size: 1.5rem;
      font-weight: 300;
      grid-row: 1 / 1;
      grid-column: 1 / -1;
      justify-self: start;
   }

   &__description {
      @include flexCenter(column);
      justify-self: center;
      gap: 0.5rem;
   }

   &__text {
      font-size: 1.15rem;
      .name {
         font-weight: 300;
         text-transform: capitalize;
      }

      .value {
         font-weight: 200;
         margin-left: 1rem;
      }
   }
}

.hidden {
   display: none;
}
.bg-clouds,
.bg-rain,
.bg-night,
.bg-day,
.bg-snow,
.bg-thunderstorm,
.bg-mist {
   --img-name: url("../imgs/bg/clouds.jpg");
   background: var(--clr-bg-container), var(--img-name) no-repeat;
   background-size: cover;
}

.bg-clouds {
   --img-name: url("../imgs/bg/clouds.jpg");
}

.bg-rain {
   --img-name: url("../imgs/bg/rain.jpg");
}

.bg-night {
   --img-name: url("../imgs/bg/night.jpg");
}

.bg-day {
   --img-name: url("../imgs/bg/day.jpg");
}

.bg-snow {
   --img-name: url("../imgs/bg/snow.jpg");
}

.bg-thunderstorm {
   --img-name: url("../imgs/bg/thunderstorm.jpg");
   background-size: auto;
}

.bg-mist {
   --img-name: url("../imgs/bg/mist.jpg");
   background-size: auto;
}
