.comfort-level {
   --heigth: 10rem;
   &__panel {
      grid-template-rows: max-content var(--heigth);
   }

   &__humidity {
      @include boxSize(var(--heigth));
      position: relative;
      justify-self: center;

      .panel__text {
         @include flexCenter(column);
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         span {
            font-size: 1.25rem;
            margin-left: 0;
            width: max-content;
         }
      }
   }
}
