.btn {
   @include boxSize(var(--btn-size));
   @include flexCenter;
   border: 1px solid var(--clr-main-2);
   color: var(--clr-main-2);
   border-radius: 50%;
   outline: none;
   background: transparent;
   flex-shrink: 0;
   transform: scale(1);

   transition: transform 0.2s;

   &__icon {
      font-size: var(--icon-size);
      color: inherit;
   }

   &:hover,
   &:focus {
      border-color: var(--clr-main-1);
      color: var(--clr-main-1);
      transform: scale(1.1);
   }

   @supports selector(:focus-visible) {
      &:focus {
         border-color: var(--clr-main-2);
         color: var(--clr-main-2);
         transform: scale(1);
      }

      &:hover {
         border-color: var(--clr-main-1);
         color: var(--clr-main-1);
         transform: scale(1.1);
      }

      &:focus-visible {
         border-color: var(--clr-main-1);
         color: var(--clr-main-1);
         transform: scale(1.1);
      }
   }

   &--disabled {
      pointer-events: none;
      opacity: 0.5;
   }
}

.hidden {
   display: none;
}
.bg-clouds,
.bg-rain,
.bg-night,
.bg-day,
.bg-snow,
.bg-thunderstorm,
.bg-mist {
   --img-name: url("../imgs/bg/clouds.jpg");
   background: var(--clr-bg-container), var(--img-name) no-repeat;
   background-size: cover;
}

.bg-clouds {
   --img-name: url("../imgs/bg/clouds.jpg");
}

.bg-rain {
   --img-name: url("../imgs/bg/rain.jpg");
}

.bg-night {
   --img-name: url("../imgs/bg/night.jpg");
}

.bg-day {
   --img-name: url("../imgs/bg/day.jpg");
}

.bg-snow {
   --img-name: url("../imgs/bg/snow.jpg");
}

.bg-thunderstorm {
   --img-name: url("../imgs/bg/thunderstorm.jpg");
   background-size: auto;
}

.bg-mist {
   --img-name: url("../imgs/bg/mist.jpg");
   background-size: auto;
}
