.current-weather {
   width: 100%;
   height: 20rem;
   text-align: center;
   @include flexCenter(column);
   position: relative;

   & > * {
      animation: fadeIn 1s;
   }

   .error {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.75rem;
      max-width: 15ch;
      font-weight: 600;
      color: var(--clr-error);
   }

   &__location {
      font-size: 1.25rem;
      font-weight: 400;
   }

   &__date {
      font-size: 0.75rem;
      font-weight: 200;
      @include margin(bottom, small);
   }

   &__content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content repeat(2, 1fr);
   }

   &__temp {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;

      font-size: 6rem;
      font-weight: 700;
   }

   &__icon {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      @include flexCenter;

      img {
         transform: scale(0.5);
         // max-width: 100%;
      }
   }

   &__description {
      grid-column: 1 / -1;
      grid-row: 2 / span 1;
      font-size: 1.75rem;
      font-weight: 300;
   }

   &__min-max {
      grid-column: 1 / -1;
      grid-row: 3 / span 1;
      font-size: 1.25rem;

      .max {
         font-weight: 400;
      }

      .min {
         font-weight: 200;
      }
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
