.current-weather {
   width: 100%;
   text-align: center;

   &__title {
      font-size: 1.25rem;
   }

   &__date {
      font-size: 0.75rem;
      @include marginBottom(medium);
   }

   &__content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content repeat(2, 1fr);
   }

   &__temp {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;

      font-size: 6rem;
   }

   &__icon {
      font-size: 6rem;
   }

   &__description {
      grid-column: 1 / -1;
      grid-row: 2 / span 1;
      font-size: 1.5rem;
   }

   &__min-max {
      grid-column: 1 / -1;
      grid-row: 3 / span 1;
      font-size: 1rem;

      .max {
      }

      .min {
      }
   }
}
