.daily {
   width: 100%;
   // @include margin(bottom, small);

   &__list {
      list-style: none;
      @include flexCenter(column);
      align-items: stretch;
   }

   &__item {
      @include flexCenter;
      justify-content: space-between;
      @include border(var(--soft-border), bottom);
      padding: 1rem 0;
   }

   &__item:last-child {
      border: none;
   }

   &__time {
      font-size: 1.25rem;
      width: 10ch;
   }

   &__icon {
      img {
         @include boxSize(4rem);
         max-width: 100%;
      }
   }

   &__min-max {
      font-size: 1.25rem;
      width: 9ch;
      text-align: right;
      .max {
         font-weight: 400;
      }

      .min {
         font-weight: 200;
      }
   }
}
