.daily {
   width: 100%;
   @include margin(bottom, small);

   &__list {
      list-style: none;
      @include flexCenter(column);
      align-items: stretch;
   }

   &__item {
      @include flexCenter;
      justify-content: space-between;
      border-bottom: var(--soft-border);
      padding: 1rem 0;
   }

   &__item:first-child {
      border-top: var(--soft-border);
   }

   &__time {
      font-size: 1.25rem;
      width: 10ch;
   }

   &__icon {
      img {
         width: 4rem;
         height: 4rem;
         max-width: 100%;
      }
   }

   &__min-max {
      font-size: 1.25rem;
      width: 9ch;
      text-align: right;
      .max {
         font-weight: 400;
      }

      .min {
         font-weight: 200;
      }
   }
}
