.status {
   position: absolute;
   top: calc(100% + 6px);
   left: 50%;
   transform: translateX(-50%);

   &__error {
      background: var(--clr-error);
      color: var(--clr-main-1);
      font-weight: 300;
      font-size: 0.85rem;
      text-align: center;
      border-radius: 100vmin;
      padding: 0.25em 1em;
   }

   &__icon {
      img {
         @include boxSize(1.5rem);
         max-width: 100%;
         animation: rotation 0.5s alternate infinite;
      }
   }

   @keyframes rotation {
      0% {
         transform: rotate(-45deg);
      }
      100% {
         transform: rotate(45deg);
      }
   }
}
