.hourly {
   width: 100%;

   .hourly__panel {
      text-align: center;
   }

   &__list {
      @include flexCenter();
      justify-content: start;
      list-style: none;
      gap: 1.5rem;
      overflow-x: auto;
      overscroll-behavior-x: contain;
   }

   &__item {
      min-width: 5rem;
      @include flexCenter(column);
      gap: 2rem;
   }

   &__time {
      font-size: 1rem;
      font-weight: 200;
   }

   &__icon {
      img {
         width: 4rem;
         height: 4rem;
         max-width: 100%;
      }
   }

   &__temp {
      font-size: 1.25rem;
      font-weight: 200;
   }
}
