.hourly {
   width: 100%;
   --gap: 1.25rem;
   ::-webkit-scrollbar {
      width: 10px;
      height: 10px;

      &-track {
         background: transparent;
         margin: 0 var(--gap);
      }

      &-thumb {
         background-color: var(--clr-dark-fade);
         border-radius: 100vmin;
      }
   }

   .hourly__panel {
      text-align: center;
      @include entryAnimation;
   }

   &__list {
      @include flexCenter();
      justify-content: start;
      list-style: none;
      gap: var(--gap);
      overflow-x: auto;
      overscroll-behavior-x: contain;
      padding-bottom: 1.25rem;
   }

   &__item {
      min-width: 5rem;
      @include flexCenter(column);
      gap: 2rem;

      &:first-child {
         margin-left: var(--gap);
      }

      &:last-child {
         margin-right: var(--gap);
      }
   }

   // &__item:first-child {
   //    position: relative;
   //    margin-left: 1.25rem;
   //    &::before {
   //       position: absolute;
   //       content: "";
   //       background-color: red;
   //       height: 100%;
   //       width: 1.25rem;
   //       top: 0;
   //       left: 0;
   //    }
   // }
   &__time {
      font-size: 1rem;
      font-weight: 200;
   }

   &__icon {
      img {
         @include boxSize(3.5rem);
         max-width: 100%;
      }
   }

   &__temp {
      font-size: 1.25rem;
      font-weight: 200;
   }
}
