.saved {
   --width: 30rem;
   position: absolute;
   left: -30rem;
   width: var(--width);
   height: 100vh;
   background-color: red;
   border: 1px solid var(--clr-main-1);
   background-color: var(--clr-main-1);
   z-index: 99;
   transition: all 1s;

   &__btn {
      position: absolute;
      top: 10%;
      left: var(--width);

      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::before {
         content: "";
         position: absolute;
         background-color: red;
         width: 5px;
         top: 0;
         // left: -6px;
         height: var(--btn-size);
      }

      &:hover,
      &:focus {
         transform: scale(1) translateX(5px);
      }

      @supports selector(:focus-visible) {
         &:focus {
            transform: scale(1);
         }

         &:hover {
            transform: scale(1) translateX(5px);
         }

         &:focus-visible {
            transform: scale(1) translateX(5px);
         }
      }

      @media (hover: none) {
         &:hover,
         &:focus {
            transform: none;
         }

         &:active {
            transform: translateX(5px);
         }
      }
   }
}
