.saved {
   --panel-width: 30rem;
   --panel-height: 30rem;
   position: absolute;
   top: 0;
   left: calc(-1 * var(--panel-width));
   width: var(--panel-width);
   // max-width: calc(100vw - var(--btn-size));
   height: var(--panel-height);
   background-color: red;
   border: 2px solid currentColor;
   border-left: none;
   border-top: none;
   border-bottom-right-radius: 20px;
   background: var(--clr-dark);
   transition: transform 1s ease;
   z-index: 99;

   &__btn {
      position: absolute;
      right: calc(-1 * var(--btn-size));
      top: 5rem;
      border: 2px solid currentColor;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover,
      &:focus {
         transform: scale(1);
      }

      @supports selector(:focus-visible) {
         &:focus {
            transform: scale(1);
         }

         &:hover {
            transform: scale(1);
         }

         &:focus-visible {
            transform: scale(1);
         }
      }

      @media (hover: none) {
         &:hover,
         &:focus {
            transform: none;
         }

         &:active {
            transform: translateY(0);
         }
      }
   }
}
