.search {
   @include flexCenter;
   width: 100%;

   &__form {
      @include flexCenter;
      width: 100%;
   }

   &__input {
      border: none;
      outline: none;
      background: transparent;
      flex: 1;
      height: 2.5rem;
      color: white;
      font-size: 1.25rem;

      ::placeholder {
         font-size: 0.25rem;
      }
   }

   &__button {
      flex-shrink: 0;
   }
}
