.search {
   width: 100%;
   position: relative;

   &__form {
      @include flexCenter;
      justify-content: space-between;
      gap: 1.25rem;
      position: relative;
      margin: 1rem 2rem 0;
   }

   &__input {
      font-family: inherit;
      border: 1px solid var(--clr-light-1);
      background: var(--clr-fade-light);
      border-radius: 100vmin;
      padding: 0 calc(var(--btn-size) / 2);
      outline: none;
      height: var(--btn-size);
      color: var(--clr-light-1);
      font-size: 1.25rem;
      flex: 1;
      width: 10rem;
      transition: background 0.2s;

      &:hover,
      &:focus {
         background: var(--clr-fade-dark);
      }

      &::placeholder {
         color: var(--clr-light-2);
         opacity: 0.6;
         font-size: 1rem;
         font-weight: var(--fw-s);
      }
   }
}
