.search {
   width: 100%;
   position: relative;
   // margin: 2rem;

   // @include margin(bottom, small);
   &__form {
      @include flexCenter;
      justify-content: space-between;
      gap: 1.25rem;
      position: relative;
      margin: 1rem 2rem 0;
   }

   &__input {
      border: 1px solid var(--clr-main-2);
      border-radius: 100vmin;
      padding: 0 calc(var(--btn-size) / 2);
      outline: none;
      background: transparent;
      height: var(--btn-size);
      color: var(--clr-main-1);
      font-size: 1.25rem;
      font-weight: 400;
      flex: 1;
      width: 10rem;

      &::-webkit-input-placeholder {
         color: var(--clr-main-2);
         opacity: 0.6;
         font-size: 0.8rem;
      }
   }
}
