@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

:root {
   --ff-main: "Titillium Web", sans-serif;

   --hue: 192;

   --clr-bg-1: hsl(var(--hue) 44% 35% / 1);
   --clr-bg-2: hsl(var(--hue) 44% 22% / 1);

   --clr-main-1: hsl(var(--hue) 5% 95% / 1);
   --clr-main-2: hsl(var(--hue) 20% 85% / 1);

   --clr-dark-fade: hsl(var(--hue) 20% 10% / 0.3);

   --clr-error: hsl(359 68% 36% / 1);

   --btn-size: 3rem;
   --icon-size: 1rem;

   --soft-border: 1px solid hsl(var(--hue) 5% 95% / 0.3);
   --hard-border: 1px solid var(--clr-main-2);
}

@mixin flexCenter($direction: row) {
   display: flex;
   flex-direction: $direction;
   align-items: center;
   justify-content: center;
}

@mixin margin($side: bottom, $size: medium) {
   @if $size == small {
      margin-#{$side}: 2rem;
   }

   @if $size == medium {
      margin-#{$side}: 3rem;
   }

   @if $size == big {
      margin-#{$side}: 4rem;
   }
}

@mixin boxSize($value) {
   width: $value;
   height: $value;
}

@mixin border($type, $side) {
   border-#{$side}: $type;
}

@mixin mq($breakpoint) {
   @media only screen and (max-width: $breakpoint) {
      @content;
   }
}
