@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

:root {
   --ff-main: "Titillium Web", sans-serif;
}

@mixin flexCenter($direction: row) {
   display: flex;
   flex-direction: $direction;
   align-items: center;
   justify-content: center;
}

@mixin margin($side: bottom, $size: medium) {
   @if $size == small {
      margin-#{$side}: 2rem;
   }

   @if $size == medium {
      margin-#{$side}: 3rem;
   }

   @if $size == big {
      margin-#{$side}: 4rem;
   }
}

@mixin mq($breakpoint) {
   @media only screen and (max-width: $breakpoint) {
      @content;
   }
}
